.clients {
    width: 100%;
    height: 505px;
    background: transparent;
    margin-bottom: -400px;
    
    &__heading {
        margin: auto;
        margin-top: 70px;
        padding-top: 40px;
        
        background-image: url(../../img/work/wave_x3.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 80px 7px;
    }
    
    &__content-wrapper {
        max-width: 1170px;
        margin: auto;
        margin-top: 90px;
    }
}

//********************************************************* FEEDBACK-POST BLOCK

.feedback-post {
    &__descr {
        margin-top: 20px;
        position: relative;
        
        &:before {
            display: block;
            content: "\0022";
            position: absolute;
            top: -20px;
            left: 0;
        }
    }
    &__usr-data {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 30px;
        p {
            margin-left: 15px;
        }
    }
        
}
















