.clients {
    width: 100%;
    height: 505px;
    background: transparent;
//    margin-bottom: -400px;
    
    @include breakpoint(tablet) {
        height: auto;
    }
    
    &__heading {
        margin: auto;
        margin-top: 70px;
        padding-top: 40px;
        
        background-image: url(../img/work/wave_x3.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 80px 7px;
    }
    
    &__content-wrapper {
        max-width: 1170px;
        margin: auto;
        margin-top: 90px;
        
        @include breakpoint(tablet) {
            margin-bottom: 50px;
            flex-direction: column;
        }
    }
}

//********************************************************* FEEDBACK-POST BLOCK

.feedback-post {
    
    &__descr {
        margin-top: 20px;
        padding-top: 24px;
        position: relative;
        
        background-image: url(../img/clients/quotes.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 24px 22px;
        
//        &:before {
//            display: block;
//            content: "";
//            position: absolute;
//            top: -20px;
//            left: 0;
//        }
        
    }
    &__usr-data {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 30px;
        p {
            margin-left: 15px;
        }
    }
        
}
















