.header {    
    width: 100%;
    height: 698px;
    background: {
        image: url("../img/header/bg_header.jpg");
        repeat: no-repeat;
        position: top left;
        size: 1920px 698px;
        
    }
    @include breakpoint(tablet) {
        margin-top: -80px;
    }
    
    &__top-panel {        
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        
        width: 100%;
        height: 88px;
        background-color: rgba(white, .23);
        
        @include breakpoint(tablet) {
            height: 60px;
            
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            
            background-color: rgba(white, .8);
            box-shadow: 0 5px 10px 0 rgba(grey, .45);
            
        }
    }
    
    &__limiter {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex: 0 1 1170px;
        height: 44px;

        @include breakpoint(mobile) {
            flex-direction: row;
        }
    }
    
    
    &__top-panel-wrapper {
        display: flex;
        justify-content: flex-start;
        
    }
        
    &__logo {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        
        height: inherit;
        margin-left: 15px;
        
        @include breakpoint(tablet) {
            font-size: 2rem;
        }
    }
    &__menu {
        width: 515px;
        height: inherit;
        margin-left: 60px;
    }
    &__btn-secondary {
        width: 153px;
        height: inherit;
        margin-left: auto;
        
        background: none;
        border: 3px solid $color-main;
        border-radius: 5px;
        transition: all .3s;
        
        &:hover {
            color: #fff;
            background-color: $color-main;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    //********************************************** HEADER CONTENT
    
    &__content-wrapper {  
        max-width: 1170px;
        margin: auto;
        
        @include breakpoint(tablet) {
            padding: 0 15px;
            text-align: center;
        }
        
    }    
    &__heading {
        margin: 175px 0 0 55px;
        
        @include breakpoint(tablet) {
            margin: auto;
            margin-top: 80px;
            padding-top: 160px;
            font-size: 4.5rem;
            letter-spacing: 5px;
        }
        
        @include breakpoint(mobile) {
            font-size: 3rem;
            letter-spacing: 4px;
        }
        
        span {display: block;}
        &-line-2 {
            margin-top: -70px;
            
            @include breakpoint(tablet) {
                font-size: 5.5rem;
                letter-spacing: 2px;
                margin-top: -60px;
            }
            @include breakpoint(mobile) {
                font-size: 4rem;
                margin-top: -45px;
            }
        }
    }
    
    &__descr {
        max-width: 435px;
        margin: 15px 0 0 55px;

        @include breakpoint(tablet) {
            width: auto;
            margin: auto;
            margin-top: 30px;
        }
    }
    
    &__btn-main {
        width: 260px;
        height: 60px;
        margin: 25px 0 0 55px;
        
        background-color: $color-main;
        border: 3px solid $color-main;
        border-radius: 5px;
        transition: all .3s;
        
        &:hover {
            color: $color-main;
            background-color: #fff;
            border-color: #fff;
        }

        @include breakpoint(tablet) {
            margin: auto;
            margin-top: 80px;
            margin-bottom: 100px;
        }
        @include breakpoint(mobile) {
            height: 50px;
        }
    }
    
    
}

//************************************************ MENU BLOCK

.menu {
    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        align-items: stretch;
        flex: 0 0 auto;
        height: 44px;
    }
    &__link {
        border: 2px solid transparent;
        transition: border-bottom .3s;
        
        &:hover {
            border-bottom: 2px solid $color-main;
        }
    }
}

//*************************************************************************
//                                                         RWD BRAEKPOINTS
//*************************************************************************

.header { 
    @include breakpoint(laptop) {
        background: {
            image: url("../img/header/bg_header_1600.jpg");
            position: top center;
            size: 1600px 698px;
        }
    }
    @include breakpoint(tablet) {
        background: {
            height: 100vh;
            image: url("../img/header/bg_header_900_.jpg");
            position: top center;
            size: 900px;
        }
        &__menu,
        &__btn-secondary {
            display: none;
        }
    }
    @include breakpoint(mobile) {
        background: {
            image: url("../img/header/bg_header_600.jpg");
            position: top left;
            size: 600px;
        }
        &__menu,
        &__btn-secondary {
            display: none;
        }
    }
    

}

// ******************************************** end RWD



