.journal {
//    height: 1060px;
    &__heading {
        width: 100%;
        text-align: center;
        margin-top: 65px;
        padding-top: 45px;
        background-image: url(../img/work/wave_x3.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 80px 7px;
        
        @include breakpoint(tablet) {
            letter-spacing: 1px;
        }
        
    }
    
    &__post-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        margin: auto;
        margin-top: 70px;
        margin-bottom: 50px;
        width: 1140px;
        
        box-shadow: 0 0 30px 0 rgba(black, .15);
        
        @include breakpoint(tablet-j) {
            flex-direction: column;
            width: 760px;
        }
        @include breakpoint(mobile-j) {
//            width: 380px;
            width: 100%;
        }
    }
    
    &__post-wrapper-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    
}

//********************************************************** BLOG-POST BLOCK


.blog-post {
    display: flex;
    flex-wrap: nowrap;
//    width: 760px;
    
    &_1 {
        @include breakpoint(mobile-j) {
            flex-direction: column;
        }
        
    }
    
    &_2 {
        flex-direction: row-reverse; 
        @include breakpoint(mobile-j) {
            flex-direction: column;
        }

    }
    
    &_3 {
        flex-direction: column;
        
        @include breakpoint(tablet-j) {
            flex-direction: row;
        }
        @include breakpoint(mobile-j) {
            flex-direction: column;
        }

    }
    
    
    &__graph-section {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex: 1;
        
        width: 380px;
        height: 380px;
        
        position: relative;
        
        
        &:hover {
            & .blog-post__icon {
                transform: scale(2);
            }
        }
    }
    
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
    }
    &__icon {
        transition: all .3s;
        }
    
    &__text-section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        
        width: 380px;
        height: 380px;
        position: relative;
        
        &:hover {
            & .blog-post__theme {
                transform: scale(2);
            }
        }

        
        // ***************************** TEXT SECTION  modifiers (white arrow positions)
        
//        &_arrow_left {
//        
//            &:before {
//                @extend %arrow-props;
//                top: 40px;
//                left: -10px;
//                border-right: 10px solid #fff;
//                border-top: 10px solid transparent;
//                border-bottom: 10px solid transparent;
//            }
//        }
//        
//        &_arrow_right {
//            
//            &:before {
//                @extend %arrow-props;
//                top: 40px;
//                right: -10px;
//                border-left: 10px solid #fff;
//                border-top: 10px solid transparent;
//                border-bottom: 10px solid transparent;
//            }
//        }
//        
//        &_arrow_top {
//        
//            :before {
//                @extend %arrow-props;
//                top: -10px;
//                left: 40px;
//                border-bottom: 10px solid #fff;
//                border-left: 10px solid transparent;
//                border-right: 10px solid transparent;
//            }
//        }
    }
    
  //****************************************************** end section modifiers  
   
    &__theme {
        margin-top: 45px;
        transition: transform .3s;
    }
    
    &__heading {
        margin-top: 55px;
        width: 330px;
    }
    
    &__descr {
        margin-top: 25px;
        width: 270px;
    }
    
    &__num {
        margin-top: 40px;
    }
    
////    BLOG-POST block modifiers
//    
//    &_orient_vert {                 // vertical direction of article sections
//        flex-direction: column;
//    }
//    &_reversed {                    // reversed direction of article sections
//        flex-direction: row-reverse;
//    }
//    
}

.text-section {
    &-1:before {
        @extend %arrow-props;
        top: 40px;
        left: -10px;
        border-right: 10px solid #fff;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    &-2:before {
        @extend %arrow-props;
        top: 40px;
        right: -10px;
        border-left: 10px solid #fff;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        
        @include breakpoint(mobile-j) {
            content: "";
            display: block;
            position: absolute;

            top: -20px;
            left: 40px;
            right: auto;
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent; 

        }
    }
    &-3:before {
        @extend %arrow-props;
        top: -10px;
        left: 40px;
        border-bottom: 10px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        
        @include breakpoint(tablet-j) {
            content: "";
            display: block;
            position: absolute;

            top: 40px;
            left: -20px;
            border-right: 10px solid #fff;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
    }
    
    &-1:before,
    &-3:before {
        @include breakpoint(mobile-j) {
            content: "";
            display: block;
            position: absolute;

            top: -20px;
            left: 40px;
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent; 
        }
    }
}







