.logos {
    width: 100%;
    height: 175px;
    
    @include breakpoint(mobile) {
        height: auto;
    }
        
    
    background-color: #f8f9fa;
    
    &__content-wrapper {
        max-width: 1170px;
        height: inherit;
        margin: auto;
//        margin-top: 70px;
    }
    
    &__list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        
        @include breakpoint(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    
    &__item {
        text-align: center;
        @include breakpoint(mobile) {
            flex-wrap: wrap;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
    }
    
}