.offer {
    width: 100%;
    height: 650px;
    background-image: url(../img/offer/bg_offer.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    @include breakpoint(tablet) {
        background-image: url(../img/offer/bg_offer_900.jpg);
    }
    
    &__content-limiter {
        max-width: 1170px;
        margin: auto;
        @include breakpoint(mobile) {
            flex-direction: row;
        }
        
    }
    
    &__content-wrapper {
        flex-direction: column;
        align-items: flex-start;
        
//        @include breakpoint(tablet) {
//            justify-content: center;
//        }
        
    }
    
    &__heading {
        margin-top: 140px;
        padding-top: 50px;
        
        background-image: url(../img/work/wave_x3.png);
        background-repeat: no-repeat;
        background-size: 80px 7px;
        
        @include breakpoint(tablet) {
            margin-top: 50px;
            text-align: center;
            background-position: top center;
        }
        
    }
    
    &__descr {
        margin-top: 25px;
        max-width: 700px;

        @include breakpoint(tablet) {
            text-align: center;
            max-width: none;
        }
    }
    
    &__form {
        width: 100%;
        margin-top: 25px;
       
        @include breakpoint(tablet) {
            box-shadow: 0 0 20px 0 rgba(200,200,200, .7);
        }
        
    }
    
    &__form-submit-status {
        width: 250px;
        margin-top: 15px;
        padding-left: 25px;
        
        background-image: url(../img/offer/lock_x4.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 14px 16px;
        
        @include breakpoint(tablet) {
            margin: auto;
            margin-top: 15px;
            text-align: center;
            background-color: rgba(white, .5);
        }
        
    }
}

// ******************************************************** ORDER-FORM BLOCK

.order-form {
    display: flex;
    flex-wrap: nowrap;
//    max-width: 885px;
    height: 62px;
    padding: 3px;
    
    background-color: #fff;
    border-radius: 5px;
    
    @include breakpoint(tablet) {
        flex-direction: column;
        max-width: 600px;
        height: auto;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
    }

    
    &__input-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 20px;
        
        label {
            margin-left: 20px;
            width: 100px;
            
            @include breakpoint(tablet) {
                min-width: 100px;
            }
            
        }
        
        @include breakpoint(tablet) {

            margin-bottom: 25px;
            border: 2px solid $color-main;
            border-radius: 5px;
        }
    }
    
    &__input-name,
    &__input-phone {
        min-width: 180px;
        margin-left: 10px;
        padding: 3px 0;
        border: none;
        outline: none;
        
        &:focus {
            border-bottom: 1px solid $color-main;
    
            @include breakpoint(tablet) {
                border-bottom: none;
            }
        }
        
        @include breakpoint(tablet) {
            height: 56px;
            width: 100%;
        }
        
    }
    &__input-btn {
        width: 225px;
        height: 56px;
        margin-left: auto;
        background: none;
        background-color: $color-main;
        border: 2px solid transparent;
        border-radius: 5px;
        outline: none;
        transition: all .3s;
        
        &:hover {
            color: $color-main;
            background-color: #fff;
            border-color: $color-main;
        }

        @include breakpoint(tablet) {
            margin: auto;
        }
    }
}


















