.offer {
    width: 100%;
    height: 650px;
    background-image: url(../img/offer/bg_offer.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 1170px;
        margin: auto;
    }
    
    &__heading {
        margin-top: 140px;
        padding-top: 50px;
        
        background-image: url(../img/work/wave_x3.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 80px 7px;
    }
    
    &__descr {
        margin-top: 25px;
        max-width: 700px;
    }
    
    &__form {
        width: 100%;
        margin-top: 25px;
    }
    
    &__form-submit-status {
        margin-top: 15px;
        padding-left: 25px;
        
        background-image: url(../img/offer/lock_x4.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 14px 16px;
    }
}

// ******************************************************** ORDER-FORM BLOCK

.order-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 885px;
    height: 62px;
    padding: 3px;
    
    background-color: #fff;
    border-radius: 5px;
    
    label {
        margin-left: 20px;
    }
    
    &__input-name,
    &__input-phone {
        flex:1;
        min-width: 180px;
        margin-left: 10px;
        padding: 3px 0;
        border: none;
        outline: none;
        
        &:focus {
            border-bottom: 1px solid $color-main;
        }
    }
    
    &__input-btn {
        width: 225px;
        height: 56px;
        margin-left: 20px;
        background: none;
        background-color: $color-main;
        border: 2px solid transparent;
        border-radius: 5px;
        outline: none;
        transition: all .3s;
        
        &:hover {
            color: $color-main;
            background-color: #fff;
            border-color: $color-main;
        }

    }
}


















